html(lang="en")


    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

        title #{name}
        include styles.pug 
        block styles

    body
        

        header
            include navbar.pug

        main(style='display:inline-grid;margin:0;padding:0')
            block content

        include footer.pug

        include scripts.pug
        block scripts